.header {
  margin-bottom: 100px;
  width: 100%;
  background: var(--color-white);
  box-shadow: 0px 10px 63px rgba(0, 0, 0, 0.07);
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
